<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="container">
      <div class="header d-flex justify-content-center">
        <h1>Bienvenido {{ name }}!</h1>
      </div>
      <div class="container ">
          {% if actual_balance %}
            <div class="header d-flex justify-content-center">
              <h1>Current Budget: ${{actual_balance}}</h1>
            </div>
          {% else %}
            <div class="header d-flex justify-content-center">
              <h1>Current Budget: $0</h1>
            </div>
          {% endif %}
      </div>
      <div class="btn-group-center d-flex align-items-center justify-content-center">
        <select  id="transaction_type"  class="form-select" >
        <option value="All" selected>Todo</option>
        <option value="Income" >Ingreso</option>
        <option value="Outcome">Egreso</option>
      
      </select>
        <a>
          <button type="button" class="btn btn-primary">Ordenar por Fecha</button>
        </a>
        <a href="{% url 'transaction' %}">
          <button type="button" class="btn btn-primary">Agregar Transacción</button>
        </a>
        </div>
      </div>

    </div>
    {% block content%} {%endblock%}
    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </script>
    <script src="../static/js/home.js"></script>    

    <script>
    /* add an event listener  when the page is loaded and when  filters are aplied  to  get json data */
      const selectType = document.getElementById('transaction_type');
      selectType.addEventListener('change', updateTable);
      window.addEventListener('load', updateTable);
</script>
  </body>
</html>