{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Delete Transaccion</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/delete_transaction.css' %}">
    <style>
        body {
          background-image: url('{% static "texture.jpg" %}');
        }      
    </style>
</head>
<body>
    <div class="contenedor_form">
        <h1>¿Seguro que desea eliminar esta transacción?</h1>
        <form id="delete-form" method="post">
            {% csrf_token %}
            <input type="submit" value="Confirmar">
        </form>
        <a href="/home" class="cancel-button">Cancelar</a>
    </div>
</body>
</html>
