{% extends "base.html" %}
{% block title %}Home{% endblock %}


{% block content %}
    {% for transaction in transactions %}
        <tr id="table">
            <th scope="row">{{transaction.date}}</th>
            <td>{{transaction.name}}</td>
            <td>{{transaction.value}}</td>
            <td>{{transaction.category}}</td>
            <td>{{transaction.type}}</td>
            <td><button type="button" class="btn btn-danger">Eliminar</button></td>
        </tr>
    {% endfor %}
{% endblock content %}

