{% extends "base.html" %}

{%load static %}
{% block title %}Home{% endblock %}
{% block content %}   
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
     
<table class="table" id="home-table" >
    <thead> 
        <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Descripción</th>
            <th scope="col">Valor</th>
            <th scope="col">Categoría</th>
            <th scope="col">Ingreso/Egreso</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody id="home-table-body" >
    </tbody>
</table>

     
<script src="{%static  'js/table.js'%}"></script>
{% endblock content %}
    
    