{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log_in</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/log_in.css' %}">
</head>
<body>  
    <div class="contenedor">
        <h1>Inicio de sesión</h1>
        <!--este  despues tiene que ser un django forms, cuando se haga post  agregar en log_in_views el comportamiento para  POST (ver aux 5) 
            ///por ahora  en action voy a dejar  que se vaya  a home// -->
        <form action="{% url 'home' %}" id="log_in_form">
            {% csrf_token %}
            <input type="text" id="usuario" name="usuario" placeholder="Usuario" value="">
            <br><br>
            <input type="password" id="contrasena" name="contrasena" placeholder="Contraseña" value="">
            <br><br>
            <input type="submit" value="Iniciar sesión">
        </form>
        <p>¿No tienes cuenta? <a href="{% url 'registro' %}">Registrate</a></p>
    </div>
</body>
</html>