{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Modificar Transaccion</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/modify_entry.css' %}">
</head>
<body>
<div class="contenedor_form">
    <h1>Modificar Transaccion</h1>
    <form id="modify-form" method="post">
        {% csrf_token %}
        <div>
            <label for="id_monto">Monto:</label>
            <input type="text" inputmode="numeric" pattern="\d+" oninvalid="setCustomValidity('Debe ingresar un monto valido')" name="monto" id="id_monto" value="{{ income_entry.income }}">
        </div>
        <div>
            <label for="fecha">Fecha:</label>
            <input type="date" name="fecha" id="id_fecha" value="{{ income_entry.set_at|date:'Y-m-d' }}">
        </div>
        <div>
            <label for="categoria">Categoria:</label>
            <select name="categoria" id="id_categoria">
                <option value="comida" {% if income_entry.category == 'comida' %}selected{% endif %}>Comida</option>
                <option value="trabajo" {% if income_entry.category == 'trabajo' %}selected{% endif %}>Trabajo</option>
                <option value="transporte" {% if income_entry.category == 'transporte' %}selected{% endif %}>Transporte</option>
                <option value="entretenimiento" {% if income_entry.category == 'entretenimiento' %}selected{% endif %}>Entretenimiento</option>
                <option value="hogar" {% if income_entry.category == 'hogar' %}selected{% endif %}>Hogar</option>
                <option value="salud" {% if income_entry.category == 'salud' %}selected{% endif %}>Salud</option>
                <option value="ropa" {% if income_entry.category == 'ropa' %}selected{% endif %}>Ropa</option>
                <option value="otros" {% if income_entry.category == 'otros' %}selected{% endif %}>Otros</option>
            </select>
        </div>        
        <div id="id_custom_categoria" style="display: none;">
            <label for="custom_categoria">Ingresar Categoria:</label>
            <input type="text" name="custom_categoria" id="id_input_categoria">
        </div>
        <div>
            <label for="descripcion">Descripcion:</label>
            <input type="text" name="descripcion" id="id_descripcion" value="{{ income_entry.description }}">
        </div>
        <input type="submit" value="Modificar">
    </form>
</div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        let selectCategoria = document.getElementById('id_categoria');
        let customCategoria = document.getElementById('id_custom_categoria');

        selectCategoria.addEventListener('change', function() {
            if (selectCategoria.value === 'otros') {
                customCategoria.style.display = 'block';
            } else {
                customCategoria.style.display = 'none';
            }
        });
    });
</script>
</html>
