{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Modificar Transaccion</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/modify_entry.css' %}">
    </head>
    <body>
        <div class="contenedor_form">
            <h1>Modificar Transaccion</h1>
            <form id="modify-form" method="post">
                {% csrf_token %}
                <div>
                    <label for="id_monto">Monto:</label>
                    <input type="text" inputmode="numeric" pattern="\d+" oninvalid="setCustomValidity('Debe ingresar un monto valido')" name="monto" id="id_monto" value="0">
                </div>
                <div>
                    <label for="fecha">Fecha:</label>
                    <input type="date" name="fecha" id="id_fecha">
                </div>
                <div>
                    <label for="categoria">Categoria:</label>
                    <select name="categoria" id="id_categoria">
                        <option value="comida">Comida</option>
                        <option value="trabajo">Trabajo</option>
                        <option value="transporte">Transporte</option>
                        <option value="entretenimiento">Entretenimiento</option>
                        <option value="hogar">Hogar</option>
                        <option value="salud">Salud</option>
                        <option value="ropa">Ropa</option>
                      </select>
                </div>
                <div>
                    <label for="descripcion">Descripcion:</label>
                    <input type="text" name="descripcion" id="id_descripcion">
                </div>
                <input type="submit" value="Modificar">
            </form>
        </div>
    </body>
</html>
