{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Modificar Transaccion</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/modify_entry.css' %}">
    <script src="https://kit.fontawesome.com/d261d7d154.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="contenedor_form">
    <h1>Modificar Transaccion</h1>
    <form id="modify-form" method="post">
        {% csrf_token %}
        {% if entry.income %}
        <div class="form-control">
            <label for="id_monto">Monto:</label>
            <input type="text" inputmode="numeric" placeholder="Ej: 1000" name="monto" id="id_monto" value="{{ entry.income }}">
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
            <small>Error message</small>
        </div>
        {% else %}
        <div class="form-control">
            <label for="id_monto">Monto:</label>
            <input type="text" inputmode="numeric" name="monto" placeholder="Ej: 1000" id="id_monto" value="{{ entry.outcome }}">
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
            <small>Error message</small>
        </div>
        {% endif %}

        <div class="form-control">
            <label for="fecha">Fecha:</label>
            <input type="date" name="fecha" id="id_fecha" value="{{ entry.set_at|date:'Y-m-d' }}">
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
            <small>Error message</small>
        </div>
        <div>
            <label for="categoria">Categoria:</label>
            <select name="categoria" id="id_categoria">
                <option value="{{ entry.category }}" selected>{{ entry.category }}</option>
                <option value="Comida">Comida</option>
                <option value="Trabajo">Trabajo</option>
                <option value="Transporte">Transporte</option>
                <option value="Entretenimiento">Entretenimiento</option>
                <option value="Hogar">Hogar</option>
                <option value="Salud">Salud</option>
                <option value="Ropa">Ropa</option>
                <option value="Otros">Otros</option>
              </select>
            </select>
        </div>
        <div id="id_custom_categoria" style="display: none;">
            <label for="custom_categoria">Ingresar Categoria:</label>
            <input type="text" name="custom_categoria" id="id_input_categoria">
          </div>
        <div>
            <label for="descripcion">Descripcion:</label>
            <input type="text" name="descripcion" id="id_descripcion" value="{{ entry.description }}">
        </div>
        <input type="submit" value="Modificar">
    </form>
</div>
</body>
<base href="/">
<script src="{% static 'js/utilities.js' %}"></script>
<script src="{% static 'js/modify_entry.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        let selectCategoria = document.getElementById('id_categoria');
        let customCategoria = document.getElementById('id_custom_categoria');

        selectCategoria.addEventListener('change', function() {
            if (selectCategoria.value === 'Otros') {
                customCategoria.style.display = 'block';
            } else {
                customCategoria.style.display = 'none';
            }
        });
    });
</script>
</html>
