{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/registro.css' %}">
    <script src="https://kit.fontawesome.com/d261d7d154.js" crossorigin="anonymous"></script>
</head>
<body>
    <form id="register-form" method="post" novalidate>
    <h1> Registro </h1>
        {% csrf_token %}
        <div class="form-control">
            <label for="username">Nombre de usuario</label>
            <input type="text" placeholder="Ej: Jose11" id="username" name="username">
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
            <small>Error message</small>
        </div>

        <div class="form-control">
            <label for="first_name">Nombre</label>
            <input type="text" placeholder="Ej: Jose" id="first_name" name="first_name">
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
            <small>Error message</small>
        </div>

        <div class="form-control">
            <label for="last_name">Apellido</label>
            <input type="text" placeholder="Ej: Perez" id="last_name" name="last_name">
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
            <small>Error message</small>
        </div>

        <div class="form-control">
            <label for="email">Mail</label>
            <input type="email" placeholder="Ej: jose@gmail.com" id="email" name="email">
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
            <small>Error message</small>
        </div>

        <div class="form-control">
            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password">
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
            <small>Error message</small>
        </div>

        <div class="form-control">
            <label for="confirmpassword">Confirme contraseña</label>
            <input type="password" id="confirmpassword" name="confirmpassword">
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
            <small>Error message</small>
        </div>
        <button type="submit">Crear usuario</button>
    </form>
</body>
<script src="{% static 'js/utilities.js' %}"></script>
<script src="{% static 'js/registro.js' %}"></script>
</html>