{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/transaccion.css' %}">
</head>
<body>
  <div class="contenedor_form">
      <h1>Agregue aquí su transacción</h1>
      <form id="transaction-form" method="post">
        {% csrf_token %}
        <div>
          <label for="id_tipo">Tipo:</label>
          <select name="tipo" id="id_tipo">
            <option value="ingreso">Ingreso</option>
            <option value="egreso">Egreso</option>
          </select>
        </div>
        <div class="form-control">
          <label for="id_monto">Monto:</label>
          <input type="number" placeholder="Ej: 1000" name="monto" id="id_monto">
          <i class="fas fa-check-circle"></i>
          <i class="fas fa-exclamation-circle"></i>
          <small>Error message</small>
        </div>
        <div class="form-control">
          <label for="fecha">Fecha:</label>
          <input type="date" name="fecha" id="id_fecha">
          <i class="fas fa-check-circle"></i>
          <i class="fas fa-exclamation-circle"></i>
          <small>Error message</small>
        </div>
        <div>
          <label for="categoria">Categoria:</label>
          <select name="categoria" id="id_categoria">
            <option value="" disabled selected></option>
            <option value="comida">Comida</option>
            <option value="trabajo">Trabajo</option>
            <option value="transporte">Transporte</option>
            <option value="entretenimiento">Entretenimiento</option>
            <option value="hogar">Hogar</option>
            <option value="salud">Salud</option>
            <option value="ropa">Ropa</option>
            <option value="otros">Otros</option>
          </select>
        </div>
        <div id="id_custom_categoria" style="display: none;">
          <label for="custom_categoria">Ingresar Categoria:</label>
          <input type="text" name="custom_categoria" id="id_input_categoria">
        </div>
        <div class="descripcion-container">
          <label for="description">Descripción:</label>
          <input type="text" name="description" id="description">
        </div>          
        <input type="submit" value="Enviar">
      </form> 
  </div>
</body>
<script src="{% static 'js/transacciones.js' %}"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    let selectCategoria = document.getElementById('id_categoria');
    let customCategoria = document.getElementById('id_custom_categoria');

    selectCategoria.addEventListener('change', function() {
      if (selectCategoria.value === 'otros') {
        customCategoria.style.display = 'block';
      } else {
        customCategoria.style.display = 'none';
      }
    });
  });
</script>
</html>

