{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log_in</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/log_in.css' %}">
    <style>
        body {
            background-image: url('{% static "texture.jpg" %}');
        }


        .error-msg {
            display: block !important;
            text-align: center;
            color: black;
        }
    </style>
</head>
<body>
    <h1 id="title">Bienvenido a BankApp</h1>  
    <div class="contenedor">
        <h1>Inicio de sesión</h1>
        {% if error %}
            <div id="msg" class="error-msg">
                <p>* Usuario o contraseña incorrecta *</p>
            </div>
        {% endif %}
        <form method="post" action="{% url 'login' %}" >
            {% csrf_token %}
            <input type="text" id="usuario" name="username" placeholder="Usuario" value="">
            <br><br>
            <input type="password" id="contrasena" name="password" placeholder="Contraseña" value="">
            <br><br>
            <input type="submit" value="Iniciar sesión">
        </form>
        <p>¿No tienes cuenta? <a href="{% url 'registro' %}">Registrate</a></p>
    </div>
</body>
<script src="{% static 'js/login.js' %}"></script>
</html>

