
<div class="btn-group-center d-flex align-items-center justify-content-center">
<!-- type (Income/outcome) -->
    <div style="margin:10px ;">
    Ingreso/Egreso
    <select  id="transaction_type"  class="form-select" >
    <option value="All" selected>Todo</option>
    <option value="Ingreso" >Ingreso</option>
    <option value="Egreso">Egreso</option>
    </select>
    </div>
<!--date  from -->
    <div style="margin:10px ;">
    Desde:
    <input id="min-date" type="date">
    </div>
<!--date  to -->
    <div style="margin:10px ;">
    Hasta:
    <input id="max-date" type="date">
    </div>
<!--category -->
    <div style="margin:10px ;" class="btn-group-center d-flex align-items-center justify-content-center">
    Categoría
    <select  id="select-category"  class="form-select" >
    <option value="All" selected>Todo</option>
    </select>
    </div>
</div>