{% extends "base.html" %}
{%load static %}
{% block title %}Home{% endblock %}

{% block content %}   
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<script src="{%static  'js/hide_balance.js'%}"></script>
<script src="{%static  'js/news_of_the_world.js'%}"></script>
<script src="{%static  'js/dark_mode.js'%}"></script>
<script src="{%static  'js/table.js'%}"></script>


<!-- top part -->
<div style="display: flex; margin-top:10px;">
    <!-- user information -->
    <div style="width: 50%;">
         <h1  > Bienvenido {{ name }}!</h1>    
        <h1 class="monto">Monto Total de Todas las Transacciones:</h1>
       <div style="display:inline-flex; ;margin-left:20% ;">
        <div >
          {% if actual_balance %}
          <h2 class="balance" data-balance-value="${{ actual_balance }}">${{ actual_balance }}</h2>
          {% else %}
          <h2  data-balance-value="$0">$0</h2>
          {% endif %}
        </div>
         <!-- Toggle Balance -->
         <div  style="margin-left:10px;">
           <button id="toggle-button" type="button" class="btn btn-primary" onclick="toggleBalance()">Ocultar Saldo</button>
          </div>
        </div>
    </div>
    <div style="width: 50%;">
      <h2 style="text-align: center;">Noticias Financieras del Día</h2>
      <div id="random-messages" style="display: block; width: 100%;" ></div>    
      </div>
  </div>
  
<!-- bottom part -->
  <div style="width: 100%;text-align: center; margin-top:50px;">
  <div class= "botones" >
      <!-- Add transaction button -->
      <a href="{% url 'transaction' %}">
        <button style="margin-right: 5%;margin-left: 5%;" type="button" class="btn btn-primary">Agregar Transacción</button>
      </a>
      
      
      <!-- View Chart  -->
      <a href="{% url 'stats' %}">
        <button style="margin-right: 5%;margin-left: 5%;" type="button" class="btn btn-primary">Ver Estadisticas</button>
      </a>

      <!-- View Transaction Details  -->
      <a href="#">
        <button style="margin-right: 5%;margin-left: 5%;" type="button" class="btn btn-primary">Ver Detalle Transacciones</button>
      </a>
  </div>    
    <div class="filtros" style="margin-top:30px;">
      <!-- table's filters -->
      {%include "home/filters.html"%}
   
      <!--table -->
      <div class="table-responsive" >
        <table class="table" id="home-table" >
          <thead> 
              <tr>
                  <th scope="col">Fecha</th>
                  <th scope="col">Descripción</th>
                  <th scope="col">Valor</th>
                  <th scope="col">Categoría</th>
                  <th scope="col">Ingreso/Egreso</th>
                  <th scope="col">Opciones</th>
              </tr>
          </thead>
          <tbody id="home-table-body">
          </tbody>
        </table>
      </div>
   
    </div>

        
</div>
  
  <script>window.addEventListener('load', updateTable);</script>
{% endblock content %}
    
    