{% extends "base.html" %}
{%load static %}
{% block title %}Home{% endblock %}

{% block content %}   
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<script src="{%static  'js/hide_balance.js'%}"></script>
<script src="{%static  'js/news_of_the_world.js'%}"></script>
<script src="{%static  'js/dark_mode.js'%}"></script>
<script src="{%static  'js/table.js'%}"></script>

<!-- user information -->
<div class="container-fluid">
    <div class="header d-flex">
      <h1 class="bienvenida">Bienvenido {{ name }}!</h1>
    </div>
    <div class="container">
      <div class="header d-flex justify-content-center"></div>
        <h1 class="monto">Monto Total de Todas las Transacciones:</h1>
        {% if actual_balance %}
        <h2 class="balance" data-balance-value="${{ actual_balance }}">${{ actual_balance }}</h2>
        {% else %}
          <h2 class="balance" data-balance-value="$0">$0</h2>
        {% endif %}
    </div>
</div>
<div class="container-fluid">
  <div class="header d-flex">
    <h2 class="news">Noticias Financieras del Día</h2>
  </div>
  <div id="random-messages"></div>
</div>


  <div class="filtros">
    <!-- table's filters -->
    {%include "home/filters.html"%}
  </div>

  <div class= "botones">
      <!-- Add transaction button -->
      <a href="{% url 'transaction' %}">
        <button type="button" class="btn btn-primary">Agregar Transacción</button>
      </a>

      <!-- View Chart  -->
      <a href="{% url 'stats' %}">
        <button type="button" class="btn btn-primary">Ver Gráfico</button>
      </a>

      <!-- View Transaction Details  -->
      <a href="#">
        <button type="button" class="btn btn-primary">Ver Detalle Transacciones</button>
      </a>
  </div>    

  <div class= "botones2">
      <!-- Toggle Balance -->
      <button id="toggle-button" type="button" class="btn btn-primary" onclick="toggleBalance()">Ocultar Saldo</button>
    </div>

  <div class= "botones3">
    <!-- Toggle Dark-Mode -->
    <button id="modo-oscuro-btn" type="button" class="btn btn-primary" onclick="activarModoOscuro()">Modo Oscuro</button>
  </div>
      
  <!--table -->
  <div class="table-responsive" style="position: absolute; top: 50%; left: 45%;">
    <table class="table" id="home-table" style="width: 50%; height: 50%; overflow: auto;">
      <thead> 
          <tr>
              <th scope="col">Fecha</th>
              <th scope="col">Descripción</th>
              <th scope="col">Valor</th>
              <th scope="col">Categoría</th>
              <th scope="col">Ingreso/Egreso</th>
              <th scope="col">Opciones</th>
          </tr>
      </thead>
      <tbody id="home-table-body">
      </tbody>
    </table>
  </div>

  
  <script>window.addEventListener('load', updateTable);</script>
{% endblock content %}
    
    