{% extends "base.html" %}
{%load static %}
{% block title %}Home{% endblock %}

{% block content %}   
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<script src="{%static  'js/hide_balance.js'%}"></script>
<script src="{%static  'js/news_of_the_world.js'%}"></script>
<script src="{%static  'js/dark_mode.js'%}"></script>
<script src="{%static  'js/table.js'%}"></script>
<script src="{%static 'js/tutorial_modal.js' %}"></script>


<!-- top part -->
<div style="display: flex; margin-top:10px;">
    <!-- user information -->
    <div style="width: 50%;">
         <h1  > Bienvenido {{ name }}!</h1>    
        <h1 class="monto">Monto Total de Todas las Transacciones:</h1>
       <div style="display:inline-flex; ;margin-left:20% ;">
        <div >
          {% if actual_balance %}
          <h2 class="balance" data-balance-value="${{ actual_balance }}">${{ actual_balance }}</h2>
          {% else %}
          <h2  data-balance-value="$0">$0</h2>
          {% endif %}
        </div>
         <!-- Toggle Balance -->
         <div  style="margin-left:10px;">
           <button id="toggle-button" type="button" class="btn btn-primary" onclick="toggleBalance()">Ocultar Saldo</button>
          </div>
        </div>
    </div>
    <div style="width: 50%;">
      <h2 style="text-align: center;">Noticias Financieras del Día</h2>
      <div id="random-messages" style="display: block; width: 100%;" ></div>    
      </div>
  </div>
  
<!-- bottom part -->
  <div style="width: 100%;text-align: center; margin-top:50px;">
    <div class= "botones" >
      <!-- Add transaction button -->
      <a href="{% url 'transaction' %}">
        <button style="margin-right: 5%;margin-left: 5%;" type="button" class="btn btn-primary">Agregar Transacción</button>
      </a>
      
      
      <!-- View Chart  -->
      <a href="{% url 'stats' %}">
        <button style="margin-right: 5%;margin-left: 5%;" type="button" class="btn btn-primary">Ver Estadisticas</button>
      </a>

    </div>    
    <div class="filtros" style="margin-top:30px;">
      <!-- table's filters -->
      {%include "home/filters.html"%}
   
      <!--table -->
      <div class="table-responsive" >
        <table class="table" id="home-table" >
          <thead> 
              <tr>
                <th scope="col" style="text-align: center;">Fecha</th>
                <th scope="col" style="text-align: center;">Descripción</th>
                <th scope="col" style="text-align: center;">Valor</th>
                <th scope="col" style="text-align: center;">Categoría</th>
                <th scope="col" style="text-align: center;">Ingreso/Egreso</th>
                <th scope="col" style="text-align: center;">Opciones</th>
              </tr>
          </thead>
          <tbody id="home-table-body">
          </tbody>
        </table>
      </div>
   
    </div>
    
    <!-- Tutorial Modal -->
    <div id="container-modal-tutorial-icon">
      <a class="show-modal-tutorial" style="cursor: pointer;"><i class="fas fa-solid fa-circle-info" style="color: #b91a1d; font-size: 30px;"></i></a>
    </div>
    <div id="tutorial-modal" class="modal">
      <p>Bienvenido a Financhef! acá podrás encontrar ayuda para utilizar
        la aplicacion web número uno de Beauchef:</p>
        <a class="show-modal-tutorial-secondary" style="cursor: pointer; color: #b91a1d;font-size: 20px; font-weight: 700;">Enseñame!</a>
    </div>
    <div id="firts-tutorial-modal" class="modal">
      <p>Puedes agregar una nueva transacción pinchando el botón 
        <a href="{% url 'transaction' %}">
          <button 
          style="background-color: #b91a1d;"
          type="button" 
          class="btn btn-primary">
          Agregar Transacción
          </button>
        </a>
        <br><br>
        <a class="show-modal-tutorial-third" style="cursor: pointer; color: #b91a1d;font-size: 20px; font-weight: 700;">Continúa!</a>
      </p>
    </div>
    <div id="second-tutorial-modal" class="modal">
      <p>
        Además, puedes ver un gráfico con tu historial de transacciones
        para no aburrirte con datos
        <a href="{% url 'stats' %}">
          <button 
          style="background-color: #b91a1d;"
          type="button" 
          class="btn btn-primary">
          Ver Estadísticas
          </button>
        </a>
        <br><br>
        <a class="show-modal-tutorial-fourth" style="cursor: pointer; color: #b91a1d;font-size: 20px; font-weight: 700;">Continúa!</a>
      </p>
    </div>
    <div id="third-tutorial-modal" class="modal">
      <p>
        Por último, puedes ver tu historial de transacciones y editar (<i class="fa-solid fa-pen" id="edit_button" style="color: #b91a1d;"></i>),
        eliminar (<i class="fa-sharp fa-solid fa-trash" style="color: #b91a1d;"></i>) o 
        visualizar (<i class="fa-solid fa-eye" style="color: #b91a1d;"></i>)
        cualquiera de ellas rápido y fácil! 
      </p>
    </div>

        
  </div>
  
  <script>window.addEventListener('load', updateTable);</script>
{% endblock content %}