{% extends "base.html" %}
{%load static %}
{% block title %}Estadísticas{% endblock %}

{% block content %}   
<!-- header -->
<script src="https://cdn.jsdelivr.net/npm/echarts@5.4.2/dist/echarts.min.js"></script>

<!-- intro -->
<div >
    <p class="margin" style="font-size: large;"> <b  style="font-size: x-large;">{{ name }},</b > te presentamos  un resumen de lo que han sido tus transacciones</p>
  </div>
<!-- chart1 container -->
<div style="display: flex;">
  <div id="pie-plot-incomes" style="width: 40%;height:400px"></div>
  <div id="pie-plot-outcomes" style="width: 40%;height:400px"></div>
  <div style="width:20%;"><p class="margin centered" style="font-size: large;">Generaste mayores ingresos en  <b style="font-size: large;">{{max_cat_income}}</b>
    Y tus mayores gastos fueron en <b style="font-size: large;">{{max_cat_outcome}}</b></p></div>
</div>


<!-- chart2 container -->
<div style="display: flex;">
<div id="line-plot" style="width: 80%;height:400px;"></div>
<div style="width:20%;"><p class="margin centered" style="font-size: large;">Tu ahorro actual es de <b  style="font-size: xx-large;">{{user__AccountStatus}}</b></p></div>
</div>
</div>

<script src="{%static  'js/stats.js'%}"></script>
<script>
$(document).ready(function(){
  loadChart1();
  loadChart2();
})</script>
{% endblock content %}
    
    