{% extends "base.html" %}
{%load static %}
{% block title %}Estadísticas{% endblock %}

{% block content %}   
<!-- header -->
<script src="https://cdn.jsdelivr.net/npm/echarts@5.4.2/dist/echarts.min.js"></script>

<!-- intro -->
<div >
    <h3 class="display-5">{{ name }} te presentamos  un resumen de lo que han sido tus transacciones</h1>
  </div>
<!-- chart1 container -->
  <div id="main" style="width: 600px;height:400px;"></div>
  
<script src="{%static  'js/stats.js'%}"></script>
<script>
$(document).ready(function(){
  loadChart1();
})</script>
{% endblock content %}
    
    