/* body style */
body {
    
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}


/* headers style*/
h1 {
    text-align: center;
    color:  rgb(50, 58, 48);
    padding-bottom: 15px;
}

/* hyperlinks style*/
a {
    color: #b91a1d;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* inputs style*/
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #b91a1d;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #b91a1d;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color:  #b91a1d;
}
