.balance{
  text-align:center;

}
.monto {
  font-size: 200%;
}

.botones {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 3px;
}

.botones button{
  background-color: #b91a1d;
  border: none;
}

.botones button:hover{
  background-color: #b91a1d;
}

#toggle-button{
  background-color: #b91a1d;
  border: none;
}

#random-messages{
  font-size: 110%;
text-align: center;
}


body {
  background-color: #ffffff;
  color: #000000;
}

body.modo-oscuro {
  background-color: #1f1f1f;
  color: #ffffff;
}

.modal a.close-modal {
  top: 0px;
  right: 0px;
}

.modo-oscuro .bienvenida {
  color: #ffffff; /* Color deseado para el modo oscuro */
}

.modo-oscuro .monto {
  color: #ffffff; /* Color deseado para el modo oscuro */
}
