.balance{
  text-align:center;

}
.monto {
  font-size: 200%;
}

.botones {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 3px;  
}

#random-messages{
  font-size: 110%;
text-align: center;

}


body {
  background-color: #ffffff;
  color: #000000;
}

body.modo-oscuro {
  background-color: #1f1f1f;
  color: #ffffff;
}