body {
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    background-color: #f2f2f2;
    background-size: cover;
}

h1 {
    text-align: center;
    color: #e60000;
    padding-bottom: 15px;
}

#title {
    font-size: 48px;
}

.contenedor {
    width: 300px;
    margin: 0 auto;
    padding: 50px;
    padding-left: 110px;
    padding-right: 110px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 176px;
}

form {
    margin-top: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #e60000;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #e60000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #cc0000;
}

p {
    text-align: center;
    margin-top: 15px;
}

a {
    color: #e60000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}