body {
    background-image: url(/static/texture.jpg);
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    background-color: #f2f2f2;
    background-size: cover;
}

h1 {
    margin-bottom: 30px;
}

form {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

label {
    display: inline-block;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
}

.form-control {
    padding-bottom: 10px;
    position: relative;
    /* border: 0px; */
}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}

.form-control i {
    visibility: hidden;
    position: absolute;
    top: 50px;
    right: 40px;
}

.form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.form-control small {
    color: #e74c3c;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 250px;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"],
select,
input[type="date"],
input[type="text"] {
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

input[type="submit"] {
    background-color: #e60000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #cc0000;
}

.contenedor_form {
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    padding: 80px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
    text-align: center;
    margin-top: 70px;
}