
/* add margin to object*/
.margin {
    margin-top:10px;
    margin: bottom 10px;;
    margin-left: 3px;
    margin-right: 3px;
}

/* center an object */
.centered {
    text-align: center;
}

body {
    background-color: #ffffff;
    color: #000000;
  }
  
body.modo-oscuro {
    background-color: #1f1f1f;
    color: #ffffff;
  }

