body {
    background-color: #f7f7f7;
  }

.contenedor_form {
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    padding: 80px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
    text-align: center;
    transform: translate(0px, 50px);
    -webkit-transform: translate(0px, 50px);
    -moz-transform: translate(0px, 50px);
    -ms-transform: translate(0px, 50px);
    -o-transform: translate(0px, 50px);
}

h1 {
    margin-bottom: 30px;
}

/* Estilos para el formulario */
form {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

label {
    display: inline-block;
    width: 100px;
    margin-bottom: 10px;
}

/* esto es para eliminar las flechas de montos */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


input[type="number"], select, input[type="date"] {
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f2f2f2;
}


input[type="submit"] {
    background-color: #4b9bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #1e90ff;
}