.info-button {
    border: 0;
    visibility: visible;
}

.popup-container {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    /* Hiding the modal, appears when click */
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
}

.popup-container.show {
    pointer-events: auto;
    opacity: 1;
}

.modal-tutorial {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 30px 50px;
    width: 600px;
    max-width: 100%;
    text-align: center;
}

.modal-tutorial h1 {
    margin: 0;
}

.modal-tutorial p {
    font-size: 14px;
    opacity: 0.7;
}